.typography h1 {
  color:#85970c;
  font-size: 190%;
  font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold; 		
}

.typography h2 {
  color:#5b6516;
  font-size: 130%;
  font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold;

}

.typography h3 {
  color:#85970c;
  font-size: 120%;
  text-transform:uppercase;
  font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold;

}

.typography h4 {
  color:#85970c;
  font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold;

}

.typography h5 {
  color:#5b6516;
  font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: Bold;
	font-style:italic;

}

.typography h6 {
  color:#85970c;
  font-family: 'Trebuchet MS', Tahoma, Sans-serif;
	font-weight: normal;
	text-decoration:underline;

}


.typography a[href$=".pdf"],
.typography a[href$=".PDF"],
.typography a.pdf {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_white_acrobat.png) no-repeat left center;
}
.typography a[href$=".doc"],
.typography a[href$=".DOC"],
.typography a.doc {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_word.png) no-repeat left center;
}
.typography a[href$=".xls"],
.typography a[href$=".XLS"],
.typography a.xls {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_excel.png) no-repeat left center;
}
.typography a[href$=".gz"],
.typography a[href$=".GZ"],
.typography a[href$=".gzip"],
.typography a[href$=".GZIP"],
.typography a[href$=".zip"],
.typography a[href$=".ZIP"],
.typography a.archive {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_white_zip.png) no-repeat left center;
}
.typography a[href$=".exe"],
.typography a[href$=".EXE"],
.typography a.application {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/application.png) no-repeat left center;
}